<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Books</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/jquery-ui-1.11.4.custom/jquery-ui.css" type="text/css" />

    <!--Подключаем сначала jQuery затем уже jQuery UI! -->
    <script src="~/js/jquery-2.2.0.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/lib/system.js"></script>

    <script src="~/app/msg.js"></script>
    <script src="~/app/table.js"></script>
    <script src="~/app/refinput.js"></script>
    <script src="~/app/keyboard_code_enums.js"></script>

    <style>
        h4 {
            color: darkgreen;
        }

        table {
            margin-top: 5px;
            margin-bottom: 5px;
        }

            table .EmptyTable > td {
                border: none;
            }

        .EmptyTable {
            height: 50px;
        }


        .fields {
            border-spacing: 7px 2px;
        }

            .fields > tbody > tr > td {
                padding: 2px;
            }

        div.disabled {
            pointer-events: none;
            /* for "disabled" effect */
            opacity: 0.5;
        }


        h1 {
            color: #369;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 250%;
        }

        h2, h3 {
            color: #444;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: lighter;
        }

        body {
            margin: 2em;
        }

        body, input[text], button {
            color: #888;
            font-family: Cambria, Georgia;
        }

        .tableinput {
            width: 100%;
            box-sizing: border-box;
        }

        td {
            height: 30;
            max-height: 30px;
        }

            td > div {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

        .table-container {
            height: 10em;
        }

        table.scroll {
            display: flex;
            flex-flow: column;
            height: 100%;
            width: 100%;
        }

            table.scroll thead {
                /* head takes the height it requires,
    and it's not scaled when table is resized */
                flex: 0 0 auto;
                width: calc(100% - 0.9em);
            }

                table.scroll thead:last-child {
                    border-right-style: none;
                }

            table.scroll tbody {
                */
                /* body takes all the remaining available space */
                flex: 1 1 auto;
                display: block;
                overflow-y: scroll;
            }

                table.scroll tbody tr {
                    width: 100%;
                }

                table.scroll thead,
                table.scroll tbody tr {
                    display: table;
                    table-layout: fixed;
                }

        .groupRow {
            display: flex;
            flex-flow: row;
            margin:5px;
        }

        .groupCol {
            display: flex;
            flex-flow: column;
            margin:5px;
        }

        @*Стиль для подсвечивания строки таблицы*@ .table-striped tbody tr.highlight td {
            background-color: #e2fee4;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Books" asp-action="Index" class="navbar-brand">Books</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Publishers" asp-action="Index">Publishers</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Authors" asp-action="Index">Authors</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Books</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <script>
        System.config({
            packages: { 'app': { defaultExtension: 'js' } }
        });
    </script>

</body>
</html>
