@model IEnumerable<Books.Models.Author>

<h1>@ViewBag.Title</h1>

@*Диалог выбора издателей*@
<div id="dialog_authors_choiceform" title="authors choice" style="display:none;">
    <div id="authors_choicetable_div">
        <a id="authors_choicetable_input" href="#authors_choicetable"></a>

        @if (Model.Count() == 0)
        {
            <div>Нет данных для отображения</div>
        }
        else {
            <table id="authors_choicetable" class="table table-striped table-bordered table-condensed scroll">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model)
                {
                        <tr>
                            <td style="display:none;">@e.Id</td>
                            <td>@e.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div name="dialog_buttons_panel">
        <input name="Choice" type="button" value="Выбрать" class="btn btn-default" />
    </div>
</div>