@model IEnumerable<Books.Models.Publisher>

<h1>@Html.ViewData["Title"]</h1>

<div id="publishers_panel">

    @*Панель установки отборов в таблице*@
    <div name="filters" class="groupRow">
        <div name="Book">
            Book:
            <input type="text" name="BookName" />
            <input type="hidden" name="BookId" />
        </div>
        <div name="dialog_books_choice"></div>
    </div>

    @*Командная панель с кнопками управления таблицей*@
    <input name="AddButton" type="button" value="Добавить" autofocus class="btn btn-default" />
    <input name="EditButton" type="button" value="Изменить" class="btn btn-default" />
    <input name="DeleteButton" type="button" value="Удалить" class="btn btn-default" />
</div>

@*Таблица с контрагентами*@
<div id="publishers_table_div" class="group_col table-container">
    @Html.Partial("_Table", Model)
</div>

<div id="publishers_divmsg"></div>

<script>

    System.import('app/publishers.index.js');

</script>
